Repository ilyi1116/auto-video-generation-fold6: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-test, pytest, service-tests, config-validation, docker-compose-validation, dependency-check, npm-audit, complexity-check, dead-code-check, openapi-validation

frontend-lint:
  name: Frontend ESLint & Prettier
  entry: bash -c 'cd src/frontend && npm run lint && npm run format:check'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd src/frontend && npm run check'
  language: system
  pass_filenames: false

frontend-test:
  name: Frontend Tests with Coverage (≥80%)
  entry: bash -c 'cd src/frontend && npm run test:coverage'
  language: system
  pass_filenames: false

pytest:
  name: Python Tests with Coverage (≥80%)
  entry: bash -c 'python -m pytest tests/ --cov=src --cov-fail-under=80 --cov-report=term-missing'
  language: system
  pass_filenames: false

service-tests:
  name: Individual Service Tests
  entry: bash -c 'for service in src/services/*/; do if [ -d "$service/tests" ]; then echo "Testing $service"; python -m pytest "$service/tests" --cov="$service" --cov-report=term-missing; fi; done'
  language: system
  pass_filenames: false

config-validation:
  name: Validate Configuration Files
  entry: python scripts/validate-configs.py
  language: system
  pass_filenames: false

docker-compose-validation:
  name: Validate Docker Compose Files
  entry: bash -c 'for file in docker-compose*.yml; do docker-compose -f "$file" config > /dev/null; done'
  language: system
  pass_filenames: false

dependency-check:
  name: Python Dependency Security Check
  entry: bash -c 'python -m safety check --json --output safety-report.json || echo "Security check completed with warnings"'
  language: system
  pass_filenames: false

npm-audit:
  name: Frontend Dependency Security Check
  entry: bash -c 'cd src/frontend && npm audit --audit-level=moderate || echo "NPM audit completed with warnings"'
  language: system
  pass_filenames: false

complexity-check:
  name: Code Complexity Check
  entry: bash -c 'python -m radon cc src/ --min B --show-complexity'
  language: system
  pass_filenames: false

dead-code-check:
  name: Dead Code Detection
  entry: bash -c 'python -m vulture src/ --min-confidence 80'
  language: system
  pass_filenames: false

openapi-validation:
  name: OpenAPI Schema Validation
  entry: bash -c 'python scripts/validate-openapi-schemas.py'
  language: system
  pass_filenames: false

feat: 實現生產級密鑰管理解決方案
  KEY_MANAGEMENT.md
  config/vault/vault-kubernetes-config.hcl
Due: none

fix: 補充 Kubernetes Secrets 配置模板
  config/k8s/secrets/external-secrets-aws.yaml
  config/k8s/secrets/production-secrets.yaml
Due: config-validation

feat: 完成系統改善優化與測試現代化
  .claude/settings.local.json
  .docker/buildx-config.json
  .docker/daemon.json
  docker-compose.yml
  scripts/docker/build-multi-platform.sh
  scripts/load-testing/jmeter-test-plan.jmx
  scripts/load-testing/k6-load-test.js
  scripts/load-testing/run-load-tests.sh
  scripts/load-testing/test-users.csv
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/playwright.config.js
  src/frontend/src/tests/e2e/api/api-integration.spec.js
  src/frontend/src/tests/e2e/performance/performance.spec.js
  src/frontend/src/tests/e2e/video/video-generation-flow.spec.js
Due: frontend-lint, frontend-typecheck, frontend-test, docker-compose-validation, npm-audit

feat: 實現完整企業級效能優化生態系統
  .claude/settings.local.json
  OPTIMIZATION_SYSTEMS.md
  config/logging-config.yaml
  config/monitoring-config.yaml
  scripts/logging/centralized-logging-system.py
  scripts/logging/log-analysis-dashboard.py
  scripts/logging/logging-integration-example.py
  scripts/monitoring/advanced-performance-monitor.py
  scripts/monitoring/microservices-communication-optimizer.py
  scripts/optimization/frontend-performance-optimizer.py
  scripts/optimization/intelligent-caching-system.py
  scripts/run-comprehensive-optimization.py
  scripts/testing/automated-performance-benchmarks.py
Due: config-validation

chore: 更新 Claude 設定檔案
  .claude/settings.local.json
Due: none

fix(ci): 修正 GitHub Actions 工作流程路徑與錯誤
  .github/dependabot.yml
  .github/workflows/ci-cd-main.yml
  .github/workflows/ci.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/security-audit.yml
  docker-compose.unified.yml
Due: docker-compose-validation

fix(frontend): 解決前端依賴衝突並更新 CI 流程
  .github/workflows/ci-cd-main.yml
  .github/workflows/ci.yml
  FRONTEND_DEPENDENCY_FIX.md
  src/frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-test, npm-audit

chore(ci): 將 GitHub Actions 升級至 v4 並更新前端依賴
  .github/workflows/ci-cd-main.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-security.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/performance-test.yml
  .github/workflows/security-audit.yml
  GITHUB_ACTIONS_V4_FIXES.md
  src/frontend/package-lock.json
Due: frontend-lint, frontend-typecheck, frontend-test, npm-audit

feat(frontend): 整合 ESLint 與 Prettier 以統一程式碼風格
  FRONTEND_ESLINT_FIX.md
  src/frontend/.eslintignore
  src/frontend/.eslintrc.cjs
  src/frontend/.prettierignore
  src/frontend/.prettierrc
  src/frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-test, npm-audit

refactor(ci): 簡化並統一 CI/CD 工作流程
  .github/workflows/ci-cd-main.yml
  .github/workflows/ci.yml
  .github/workflows/security-audit.yml
  GITHUB_ACTIONS_COMPREHENSIVE_FIX.md
Due: none

fix(ci): 修正 setup-node 快取設定
  .github/workflows/ci-cd-main.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-security.yml
  .github/workflows/performance-monitoring.yml
  NODEJS_CACHE_FIX.md
Due: none

revert(ci): 恢復並修正 setup-node 的快取路徑
  .github/workflows/ci-cd-main.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-security.yml
  .github/workflows/performance-monitoring.yml
  NODEJS_CACHE_FIX.md
Due: none

fix(ci): 修正 CodeQL 分析中的工作目錄路徑
  .github/workflows/codeql-analysis.yml
  CODEQL_FIX.md
Due: none

chore(ci): 優化與修復 CI/CD 工作流程
  .github/workflows/ci-cd-main.yml
  .github/workflows/ci.yml
  .github/workflows/security-audit.yml
Due: none

fix(pkg): 修正 Python 打包與命名空間設定
  PYTHON_DEPENDENCIES_FIX.md
  pyproject.toml
  src/services/ai-service/__init__.py
  src/services/api-gateway/__init__.py
  src/services/auth-service/__init__.py
  src/services/video-service/__init__.py
Due: pytest, service-tests, dependency-check, complexity-check, dead-code-check, openapi-validation

test: verify GitHub Actions CI/CD workflow
  CI_TEST.md
Due: none

fix: 完成核心業務邏輯實現與服務配置修復
  config/environments/development.env
  docker-compose.yml
  src/services/api-gateway/app/config.py
  src/services/api-gateway/requirements.txt
Due: pytest, service-tests, config-validation, docker-compose-validation, complexity-check, dead-code-check, openapi-validation

feat: 完成前端功能開發與性能優化系統
  PROJECT_STATUS_REPORT.md
  USER_TESTING_GUIDE.md
  fix_security_vulnerabilities.sh
  optimize_performance.sh
  src/frontend/src/lib/api/client.js
  src/frontend/src/lib/components/landing/CTA.svelte
  src/frontend/src/lib/components/landing/Features.svelte
  src/frontend/src/lib/components/landing/Hero.svelte
  src/frontend/src/lib/components/landing/Pricing.svelte
  src/frontend/src/lib/components/landing/Testimonials.svelte
  src/frontend/src/lib/stores/auth.js
  src/frontend/src/routes/+layout.svelte
  src/frontend/src/routes/dashboard/+page.svelte
  src/frontend/src/routes/login/+page.svelte
  src/services/api-gateway/app/config.py
  src/services/api-gateway/mock_server.py
  test_integration.sh
Due: frontend-lint, frontend-typecheck, frontend-test, pytest, service-tests, complexity-check, dead-code-check, openapi-validation

fix: use consistent dependency versions in GitHub Actions
  .github/workflows/ci-cd-main.yml
  .github/workflows/ci.yml
Due: none

feat: add pre-commit configuration for code formatting consistency
  .pre-commit-config.yaml
  FORMATTING_CONSISTENCY_FIX.md
Due: none

feat: optimize GitHub Actions workflows for code quality checks
  .github/workflows/ci-cd-main.yml
  .github/workflows/ci.yml
  FLAKE8_FIXES_SUMMARY.md
Due: none

chore: 清理臨時修復腳本檔案
  fix_flake8_errors.py
  fix_remaining_syntax.py
  fix_syntax_errors.py
Due: none

security: resolve all high/medium risk security vulnerabilities
  .claude/settings.local.json
  SECURITY_FIXES_REPORT.md
  src/services/cache-service/distributed_cache.py
  src/services/inference-service/app/services/synthesis_engine.py
  src/services/storage-service/app/processors.py
  src/services/voice-enhancement/app/services/emotion_synthesizer.py
Due: pytest, service-tests, complexity-check, dead-code-check, openapi-validation

style: clean up whitespace in security-fixed files
  src/services/cache-service/distributed_cache.py
  src/services/storage-service/app/processors.py
  src/services/voice-enhancement/app/services/emotion_synthesizer.py
Due: pytest, service-tests, complexity-check, dead-code-check, openapi-validation

fix: resolve remaining flake8 code quality issues
  .claude/settings.local.json
  scripts/fix_remaining_syntax.py
  scripts/fix_syntax_errors.py
  scripts/production_deployment_validation.py
  src/services/video-service/main.py
  src/shared/service_client.py
  src/shared/services/api_gateway.py
  src/shared/services/service_discovery.py
Due: pytest, service-tests, complexity-check, dead-code-check, openapi-validation

feat: 完成從Mock到真實系統的全面升級
  MYPY_IMPROVEMENTS.md
  src/services/ai-service/main.py
  src/services/api-gateway/main.py
  src/services/api-gateway/requirements.txt
  src/services/video-processing-service/main.py
  src/shared/ai_service_client.py
  src/shared/api/standard_responses.py
  src/shared/config.py
  src/shared/database/connection.py
  src/shared/database/init_data.py
  src/shared/security.py
  src/shared/services/message_queue.py
  src/shared/video_processor.py
Due: pytest, service-tests, complexity-check, dead-code-check, openapi-validation

feat: 完成前端整合真實API的全面升級
  .claude/settings.local.json
  FRONTEND_INTEGRATION.md
  src/frontend/.env.example
  src/frontend/src/lib/api/client.js
  src/frontend/src/lib/stores/auth.js
  src/frontend/src/routes/+layout.svelte
  src/frontend/src/routes/ai/script/+page.svelte
  src/frontend/src/routes/create/+page.svelte
  src/frontend/src/routes/login/+page.svelte
  start_services.py
  test_integration.py
Due: frontend-lint, frontend-typecheck, frontend-test

chore: update Claude Code configuration settings
  .claude/settings.local.json
Due: none

feat: 實現完整的模組化假資料管理系統
  .claude/settings.local.json
  src/frontend/.svelte-kit/generated/client/app.js
  src/frontend/.svelte-kit/generated/client/nodes/10.js
  src/frontend/.svelte-kit/generated/client/nodes/11.js
  src/frontend/.svelte-kit/generated/client/nodes/12.js
  src/frontend/.svelte-kit/generated/client/nodes/13.js
  src/frontend/.svelte-kit/generated/client/nodes/14.js
  src/frontend/.svelte-kit/generated/client/nodes/15.js
  src/frontend/.svelte-kit/generated/client/nodes/16.js
  src/frontend/.svelte-kit/generated/client/nodes/17.js
  src/frontend/.svelte-kit/generated/client/nodes/18.js
  src/frontend/.svelte-kit/generated/client/nodes/19.js
  src/frontend/.svelte-kit/generated/client/nodes/2.js
  src/frontend/.svelte-kit/generated/client/nodes/20.js
  src/frontend/.svelte-kit/generated/client/nodes/21.js
  src/frontend/.svelte-kit/generated/client/nodes/22.js
  src/frontend/.svelte-kit/generated/client/nodes/3.js
  src/frontend/.svelte-kit/generated/client/nodes/4.js
  src/frontend/.svelte-kit/generated/client/nodes/5.js
  src/frontend/.svelte-kit/generated/client/nodes/6.js
  src/frontend/.svelte-kit/generated/client/nodes/7.js
  src/frontend/.svelte-kit/generated/client/nodes/8.js
  src/frontend/.svelte-kit/generated/client/nodes/9.js
  src/frontend/.svelte-kit/generated/root.svelte
  src/frontend/.svelte-kit/types/index.d.ts
  src/frontend/.svelte-kit/types/route_meta_data.json
  src/frontend/.svelte-kit/types/src/routes/admin/$types.d.ts
  src/frontend/.svelte-kit/types/src/routes/admin/mock-data/$types.d.ts
  src/frontend/src/routes/admin/+layout.svelte
  src/frontend/src/routes/admin/+page.svelte
  src/frontend/src/routes/admin/mock-data/+page.svelte
  src/services/api-gateway/main.py
  src/services/api-gateway/routers/mock_data.py
  src/shared/database/init_data.py
  src/shared/fixtures/__init__.py
  src/shared/fixtures/ai_responses.json
  src/shared/fixtures/users.json
  src/shared/fixtures/videos.json
Due: frontend-lint, frontend-typecheck, frontend-test, pytest, service-tests, complexity-check, dead-code-check, openapi-validation

feat: 完成前端系統開發與通知系統整合
  .claude/settings.local.json
  src/frontend/.svelte-kit/types/index.d.ts
  src/frontend/.svelte-kit/types/route_meta_data.json
  src/frontend/.svelte-kit/types/src/routes/demo/$types.d.ts
  src/frontend/.svelte-kit/types/src/routes/video/[videoId]/$types.d.ts
  src/frontend/.svelte-kit/types/src/routes/video/[videoId]/proxy+page.js
  src/frontend/.svelte-kit/types/src/routes/videos/$types.d.ts
  src/frontend/src/routes/+layout.svelte
  src/frontend/src/routes/create/+page.svelte
  src/frontend/src/routes/dashboard/+page.svelte
  src/frontend/src/routes/demo/+page.svelte
  src/frontend/src/routes/video/[videoId]/+page.js
  src/frontend/src/routes/video/[videoId]/+page.svelte
  src/frontend/src/routes/videos/+page.svelte
Due: frontend-lint, frontend-typecheck, frontend-test

chore: 更新 .gitignore，忽略 SvelteKit 和 Claude 本地檔案
  .gitignore
Due: none

feat: 完成前端響應式設計與無障礙功能全面優化
  .claude/settings.local.json
  src/frontend/.svelte-kit/generated/client/app.js
  src/frontend/.svelte-kit/generated/client/nodes/10.js
  src/frontend/.svelte-kit/generated/client/nodes/11.js
  src/frontend/.svelte-kit/generated/client/nodes/12.js
  src/frontend/.svelte-kit/generated/client/nodes/13.js
  src/frontend/.svelte-kit/generated/client/nodes/14.js
  src/frontend/.svelte-kit/generated/client/nodes/15.js
  src/frontend/.svelte-kit/generated/client/nodes/16.js
  src/frontend/.svelte-kit/generated/client/nodes/17.js
  src/frontend/.svelte-kit/generated/client/nodes/18.js
  src/frontend/.svelte-kit/generated/client/nodes/19.js
  src/frontend/.svelte-kit/generated/client/nodes/20.js
  src/frontend/.svelte-kit/generated/client/nodes/21.js
  src/frontend/.svelte-kit/generated/client/nodes/22.js
  src/frontend/.svelte-kit/generated/client/nodes/4.js
  src/frontend/.svelte-kit/generated/client/nodes/5.js
  src/frontend/.svelte-kit/generated/client/nodes/6.js
  src/frontend/.svelte-kit/generated/client/nodes/7.js
  src/frontend/.svelte-kit/generated/client/nodes/8.js
  src/frontend/.svelte-kit/generated/client/nodes/9.js
  src/frontend/.svelte-kit/types/index.d.ts
  src/frontend/.svelte-kit/types/route_meta_data.json
  src/frontend/.svelte-kit/types/src/routes/$types.d.ts
  src/frontend/src/routes/+layout.svelte
  src/frontend/src/routes/account/settings/+page.svelte
  src/frontend/src/routes/assets/+page.svelte
Due: frontend-lint, frontend-typecheck, frontend-test

feat: 完成前端系統高級功能開發與性能優化
  .claude/settings.local.json
  src/frontend/.svelte-kit/ambient.d.ts
  src/frontend/.svelte-kit/generated/server/internal.js
  src/frontend/coverage/.tmp/coverage-0.json
  src/frontend/coverage/.tmp/coverage-1.json
  src/frontend/coverage/.tmp/coverage-10.json
  src/frontend/coverage/.tmp/coverage-11.json
  src/frontend/coverage/.tmp/coverage-12.json
  src/frontend/coverage/.tmp/coverage-2.json
  src/frontend/coverage/.tmp/coverage-3.json
  src/frontend/coverage/.tmp/coverage-4.json
  src/frontend/coverage/.tmp/coverage-5.json
  src/frontend/coverage/.tmp/coverage-6.json
  src/frontend/coverage/.tmp/coverage-7.json
  src/frontend/coverage/.tmp/coverage-8.json
  src/frontend/coverage/.tmp/coverage-9.json
  src/frontend/src/routes/assets/+page.svelte
Due: frontend-lint, frontend-typecheck, frontend-test

feat: 實現完整的 SvelteKit 前端設計系統與性能優化
  .claude/settings.local.json
  src/frontend/.svelte-kit/generated/client/app.js
  src/frontend/.svelte-kit/generated/client/nodes/17.js
  src/frontend/.svelte-kit/generated/client/nodes/18.js
  src/frontend/.svelte-kit/generated/client/nodes/19.js
  src/frontend/.svelte-kit/generated/client/nodes/20.js
  src/frontend/.svelte-kit/generated/client/nodes/21.js
  src/frontend/.svelte-kit/generated/client/nodes/22.js
  src/frontend/.svelte-kit/types/index.d.ts
  src/frontend/.svelte-kit/types/route_meta_data.json
  src/frontend/.svelte-kit/types/src/routes/$types.d.ts
  src/frontend/README_DESIGN_SYSTEM.md
  src/frontend/src/routes/+layout.svelte
  src/frontend/src/routes/docs/+page.svelte
  src/frontend/tailwind.config.js
Due: frontend-lint, frontend-typecheck, frontend-test

fix: 修復前端依賴和路徑問題
  .claude/settings.local.json
  src/frontend/.svelte-kit/ambient.d.ts
  src/frontend/.svelte-kit/generated/server/internal.js
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/routes/admin/+page.svelte
  src/frontend/tailwind.config.js
Due: frontend-lint, frontend-typecheck, frontend-test, npm-audit

Path conditions:
  frontend-lint: any of: ^src/frontend/, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  frontend-typecheck: any of: ^src/frontend/, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  frontend-test: any of: ^src/frontend/, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  pytest: any of: ^src/.*\.py$, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  service-tests: any of: ^src/services/.*\.py$, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  config-validation: any of: ^config/.*\.(env|yaml|yml|json)$, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  docker-compose-validation: any of: ^docker-compose.*\.yml$, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  dependency-check: any of: ^pyproject\.toml$, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  npm-audit: any of: ^src/frontend/package.*\.json$, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  complexity-check: any of: ^src/.*\.py$, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  dead-code-check: any of: ^src/.*\.py$, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  openapi-validation: any of: ^src/services/.*/.*\.py$, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

