Repository ilyi1116/auto-video-generation-fold6: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-test, pytest, service-tests, config-validation, docker-compose-validation, dependency-check, npm-audit, complexity-check, dead-code-check, openapi-validation

Path conditions:
  frontend-lint: any of: ^src/frontend/, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  frontend-typecheck: any of: ^src/frontend/, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  frontend-test: any of: ^src/frontend/, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  pytest: any of: ^src/.*\.py$, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  service-tests: any of: ^src/services/.*\.py$, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  config-validation: any of: ^config/.*\.(env|yaml|yml|json)$, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  docker-compose-validation: any of: ^docker-compose.*\.yml$, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  dependency-check: any of: ^pyproject\.toml$, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  npm-audit: any of: ^src/frontend/package.*\.json$, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  complexity-check: any of: ^src/.*\.py$, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  dead-code-check: any of: ^src/.*\.py$, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$

  openapi-validation: any of: ^src/services/.*/.*\.py$, but not: (?x)^(
  src/frontend/node_modules/.*|
  src/frontend/build/.*|
  src/frontend/.svelte-kit/.*|
  .*/venv/.*|
  .*/__pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  legacy/.*|
  backup_.*/.*|
  .*\.old/.*|
  bandit-report\.json|
  safety-report\.json|
  coverage\.xml|
  .*\.coverage
)$


fix: 修復前端開發環境的關鍵技術問題
  src/frontend/.svelte-kit/generated/server/internal.js
  src/frontend/src/lib/components/ui/GlobalError.svelte
  src/frontend/src/lib/components/ui/index.js
  src/frontend/src/lib/performance/vitals.js
  src/frontend/src/lib/stores/loading.js
Due: frontend-lint, frontend-typecheck, frontend-test

fix: 修復 debugTools.js 服務器端渲染兼容性問題
  src/frontend/src/lib/dev/debugTools.js
Due: frontend-lint, frontend-typecheck, frontend-test

feat: 完成前端組件修復與Alembic資料庫配置優化
  .claude/settings.local.json
  alembic/env.py
  alembic/versions/20250808_1509_4b3a8cd524fa_merge_database_schema_revisions.py
  alembic/versions/20250808_1510_2e5af1aa3ead_create_initial_database_tables.py
  docker-compose.unified.yml
  pyproject.toml
  scripts/db-migration-manager.py
  src/frontend/.svelte-kit/ambient.d.ts
  src/frontend/.svelte-kit/generated/client/nodes/1.js
  src/frontend/.svelte-kit/generated/server/internal.js
  src/frontend/pnpm-lock.yaml
  src/frontend/src/lib/api/client.js
  src/frontend/src/lib/components/ui/index.js
  src/frontend/src/routes/account/settings/+page.svelte
  src/frontend/src/routes/admin/mock-data/+page.svelte
  src/frontend/src/routes/register/+page.svelte
  src/services/api-gateway/main.py
  src/services/scheduler-service/Dockerfile
  src/services/scheduler-service/requirements-dev.txt
  src/services/social-service/Dockerfile
  src/services/trend-service/Dockerfile
  src/services/trend-service/requirements-dev.txt
  src/services/video-service/Dockerfile
  src/shared/fixtures/__init__.py
  temp_api_gateway.py
  test_frontend_api.js
Due: frontend-lint, frontend-typecheck, frontend-test, pytest, service-tests, docker-compose-validation, dependency-check, complexity-check, dead-code-check, openapi-validation

Fix: Resolve multiple build and migration errors
  .claude/settings.local.json
  alembic/env.py
  alembic/versions/20250101_0000_001_initial_database_schema.py
  alembic/versions/20250806_1100_35e042c8139d_initial_migration_with_unified_database_.py
  alembic/versions/20250808_1509_4b3a8cd524fa_merge_database_schema_revisions.py
  alembic/versions/20250808_1510_2e5af1aa3ead_create_initial_database_tables.py
  alembic/versions/20250808_1706_98359a2a002b_initial_database_schema.py
  alembic/versions/20250808_1709_01add939ac7e_regenerate_complete_database_schema.py
  scripts/init-db.sql
  src/frontend/.svelte-kit/generated/client/app.js
  src/frontend/.svelte-kit/generated/client/nodes/19.js
  src/frontend/.svelte-kit/generated/server/internal.js
  src/frontend/.svelte-kit/types/index.d.ts
  src/frontend/.svelte-kit/types/route_meta_data.json
  src/frontend/.svelte-kit/types/src/routes/$types.d.ts
  src/frontend/.svelte-kit/types/src/routes/login/$types.d.ts
  src/frontend/.svelte-kit/types/src/routes/register/$types.d.ts
  src/frontend/src/routes/+layout.svelte
  src/frontend/src/routes/login/+page.js
  src/frontend/src/routes/login/+page.svelte
  src/frontend/src/routes/register-simple/+page.svelte
  src/frontend/src/routes/register-test/+page.js
  src/frontend/src/routes/register-test/+page.svelte
  src/frontend/src/routes/register/+page-backup.svelte
  src/frontend/src/routes/register/+page.js
  src/frontend/src/routes/register/+page.svelte
  src/frontend/src/routes/test/+page.svelte
  src/frontend/svelte.config.js
  src/frontend/vite.config.js
Due: frontend-lint, frontend-typecheck, frontend-test

Merge conflicts resolved
  .claude/settings.local.json
  src/frontend/.svelte-kit/ambient.d.ts
  src/frontend/.svelte-kit/generated/client/app.js
  src/frontend/.svelte-kit/generated/client/nodes/1.js
  src/frontend/.svelte-kit/generated/client/nodes/10.js
  src/frontend/.svelte-kit/generated/client/nodes/11.js
  src/frontend/.svelte-kit/generated/client/nodes/12.js
  src/frontend/.svelte-kit/generated/client/nodes/13.js
  src/frontend/.svelte-kit/generated/client/nodes/14.js
  src/frontend/.svelte-kit/generated/client/nodes/15.js
  src/frontend/.svelte-kit/generated/client/nodes/16.js
  src/frontend/.svelte-kit/generated/client/nodes/17.js
  src/frontend/.svelte-kit/generated/client/nodes/18.js
  src/frontend/.svelte-kit/generated/client/nodes/19.js
  src/frontend/.svelte-kit/generated/client/nodes/2.js
  src/frontend/.svelte-kit/generated/client/nodes/3.js
  src/frontend/.svelte-kit/generated/client/nodes/4.js
  src/frontend/.svelte-kit/generated/client/nodes/5.js
  src/frontend/.svelte-kit/generated/client/nodes/6.js
  src/frontend/.svelte-kit/generated/client/nodes/7.js
  src/frontend/.svelte-kit/generated/client/nodes/8.js
  src/frontend/.svelte-kit/generated/client/nodes/9.js
  src/frontend/.svelte-kit/generated/server/internal.js
  src/frontend/.svelte-kit/types/index.d.ts
  src/frontend/.svelte-kit/types/route_meta_data.json
  src/frontend/.svelte-kit/types/src/routes/$types.d.ts
  src/frontend/.svelte-kit/types/src/routes/login/$types.d.ts
  src/frontend/.svelte-kit/types/src/routes/register/$types.d.ts
Due: none

fix: 修復前端登入功能與後端連接問題
  src/frontend/.svelte-kit/ambient.d.ts
  src/frontend/.svelte-kit/generated/client/app.js
  src/frontend/.svelte-kit/generated/client/nodes/10.js
  src/frontend/.svelte-kit/generated/client/nodes/11.js
  src/frontend/.svelte-kit/generated/client/nodes/12.js
  src/frontend/.svelte-kit/generated/client/nodes/13.js
  src/frontend/.svelte-kit/generated/client/nodes/14.js
  src/frontend/.svelte-kit/generated/client/nodes/15.js
  src/frontend/.svelte-kit/generated/client/nodes/16.js
  src/frontend/.svelte-kit/generated/client/nodes/17.js
  src/frontend/.svelte-kit/generated/client/nodes/18.js
  src/frontend/.svelte-kit/generated/client/nodes/19.js
  src/frontend/.svelte-kit/generated/client/nodes/2.js
  src/frontend/.svelte-kit/generated/client/nodes/3.js
  src/frontend/.svelte-kit/generated/client/nodes/4.js
  src/frontend/.svelte-kit/generated/client/nodes/5.js
  src/frontend/.svelte-kit/generated/client/nodes/6.js
  src/frontend/.svelte-kit/generated/client/nodes/7.js
  src/frontend/.svelte-kit/generated/client/nodes/8.js
  src/frontend/.svelte-kit/generated/client/nodes/9.js
  src/frontend/.svelte-kit/generated/server/internal.js
  src/frontend/.svelte-kit/types/index.d.ts
  src/frontend/.svelte-kit/types/route_meta_data.json
  src/frontend/.svelte-kit/types/src/routes/$types.d.ts
  src/frontend/.svelte-kit/types/src/routes/login/$types.d.ts
  src/frontend/.svelte-kit/types/src/routes/register/$types.d.ts
  src/frontend/package-lock.json
  src/frontend/src/lib/api/client.js
  src/frontend/src/lib/components/ui/GlobalError.svelte
  src/frontend/src/lib/components/ui/index.js
  src/frontend/src/lib/stores/loading.js
  src/frontend/src/routes/login/+page.svelte
  src/frontend/src/routes/register/page-backup.svelte
  src/frontend/svelte.config.js
  src/frontend/vite.config.js
Due: frontend-lint, frontend-typecheck, frontend-test, npm-audit

feat: 整合 DeepSeek 並實現多供應商 AI 生成後端
  .claude/settings.local.json
  .env.example
  DEEPSEEK_GUIDE.md
  GITHUB_ACTIONS_FIXES.md
  VOICE_GENERATION_GUIDE.md
  docker-compose.unified.yml
  docs/DEPLOYMENT_GUIDE 2.md
  docs/DEVELOPER_GUIDE 2.md
  src/frontend/.svelte-kit/ambient.d.ts
  src/frontend/.svelte-kit/generated/server/internal.js
  src/frontend/src/lib/api/client.js
  src/frontend/src/lib/stores/auth.js
  src/frontend/src/routes/create/+page.svelte
  src/frontend/src/routes/login/+page.svelte
  src/services/api-gateway/app/routers.py
  src/services/api-gateway/mock_server.py
Due: frontend-lint, frontend-typecheck, frontend-test, pytest, service-tests, docker-compose-validation, complexity-check, dead-code-check, openapi-validation

feat: 實現完整內容模板系統與AI生成功能
  src/frontend/.svelte-kit/generated/client/app.js
  src/frontend/.svelte-kit/types/index.d.ts
  src/frontend/.svelte-kit/types/route_meta_data.json
  src/frontend/.svelte-kit/types/src/routes/$types.d.ts
  src/frontend/src/lib/api/client.js
  src/frontend/src/routes/templates/+page.svelte
  src/services/api-gateway/mock_server.py
  src/services/api-gateway/template_demo.html
Due: frontend-lint, frontend-typecheck, frontend-test, pytest, service-tests, complexity-check, dead-code-check, openapi-validation

feat: 完成內容日曆與排程系統開發
  src/services/api-gateway/CONTENT_CALENDAR_SUMMARY.md
  src/services/api-gateway/content_calendar_demo.html
  src/services/api-gateway/mock_server.py
  src/services/api-gateway/test_content_calendar.py
Due: pytest, service-tests, complexity-check, dead-code-check, openapi-validation

feat: 實現完整團隊協作功能與用戶管理系統
  src/services/api-gateway/TEAM_COLLABORATION_SUMMARY.md
  src/services/api-gateway/mock_server.py
  src/services/api-gateway/team_collaboration_demo.html
  src/services/api-gateway/test_team_collaboration.py
Due: pytest, service-tests, complexity-check, dead-code-check, openapi-validation

feat: 實現企業級高級視頻處理系統 - 革命性視頻質量提升
  .claude/settings.local.json
  ADVANCED_VIDEO_PROCESSING.md
  README_FINAL.md
  api_gateway_simple.py
  install_video_dependencies.sh
  simple_video_test.py
  src/frontend/.svelte-kit/ambient.d.ts
  src/frontend/.svelte-kit/generated/server/internal.js
  src/services/ai-service/main_simple.py
  src/services/video-service/advanced_video_engine.py
  src/services/video-service/advanced_video_service.py
  src/services/video-service/audio_video_sync.py
  src/services/video-service/batch_video_processor.py
  src/services/video-service/video_effects_system.py
  src/services/video-service/video_generator_simple.py
  start_mvp.sh
  start_system.sh
  status_system.sh
  stop_mvp.sh
  stop_system.sh
  test_advanced_video_system.py
  test_frontend_integration.js
  test_outputs/test_report.json
  test_user_flow.sh
  test_video_generation_complete.py
Due: pytest, service-tests, complexity-check, dead-code-check, openapi-validation

feat: 完成企業級性能優化與安全體系升級
  .claude/settings.local.json
  .pre-commit-config.yaml
  config/cache-config.yaml
  config/environments/production.env
  config/keys/.env.development
  config/keys/.env.production
  config/keys/keyset_development_zLP9tvjrlRypUB4dd_Xq9Q.json
  config/keys/keyset_production_fUbgiUE3aTtrnEMsbDVcdA.json
  pyproject.toml
  pyproject.toml.bak
  pytest.ini
  scripts/security/jwt-key-generator.py
  scripts/security/security-validator.py
  scripts/test-runner.py
  src/frontend/.prettierrc
  src/shared/cache.py
  src/shared/db_optimization.py
  tests/data_cleanup.py
  tests/factories.py
Due: frontend-lint, frontend-typecheck, frontend-test, pytest, config-validation, dependency-check, complexity-check, dead-code-check

feat: 完成企業級安全修復 - 全面安全加固
  bandit-report.json
  config/environments/production.env
  config/keys/.env.production
  config/keys/keyset_production_7aw2p328taJ3F6FZYbmd7A.json
  config/logging-security.yaml
  docker-compose.secure.yml
  scripts/security/docker-security-checker.py
  scripts/security/file-permissions-checker.py
  src/services/api-gateway/Dockerfile.secure
  src/shared/log_security.py
Due: pytest, config-validation, docker-compose-validation, complexity-check, dead-code-check
